DynamicJavaWSCompile/src/main/java/com/unico/ws/helper/OperationSchema.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="apellido" type="xs:string"></xs:element>
            <xs:element name="id" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
